.header {
  background-image: linear-gradient(90deg, #020411, #23023c);
  padding: 10px 150px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.header_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_menu-list {
  display: flex;
  gap: 30px;
}

.header_menu-inner {
  color: #a692bd;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}

.header_menu-searchSong {
  display: flex;
  color: #a692bd;
  gap: 5px;
  align-items: center;
}
.header_menu-searchSong .header_menu-inputSearch {
  background-color: #ffffff;
  padding: 5px;
  border-radius: 10px;
  outline: none;
}
.header_menu-searchSong .header_menu-inputSearch:hover {
  background-color: #e1f0f6;
}

.header_logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__logo-icon {
  background-image: linear-gradient(60deg, #e93faf, #bc4af0);
  border-radius: 20px;
  height: 60px;
  width: 60px;
  padding: 10px;
  color: #d9c5ee;
}

.header_logo-text {
  color: #d9c5ee;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.music {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  max-width: 1000px;
  margin: 0 0 30px;
}

.music_logo-image {
  position: relative;
  padding: 0 40px;
}
.music_logo-image:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  background-image: linear-gradient(90deg, rgba(12, 9, 38, 0.3960784314), #9e60d6);
  width: 50px;
  height: 2px;
}
.music_logo-image:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  background-image: linear-gradient(90deg, #9e60d6, rgba(12, 9, 38, 0.431372549));
  width: 50px;
  height: 2px;
}

.music_logo-icon {
  color: #9e60d6;
}

.music_logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.music_logo-text {
  font-size: 28px;
  font-weight: 500;
  color: #fff;
}

.music_descrb {
  text-align: center;
  color: #967eb1;
  font-size: 20px;
}

.music_all {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  justify-content: center;
}

.music_list {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 30px;
}

.music_item {
  display: flex;
  flex-direction: column;
}

.music_card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 350px;
  flex-grow: 1;
  background-color: rgba(36, 22, 86, 0.631372549);
  border-radius: 20px;
  padding: 25px 20px;
  border: 2px solid #252371;
  scale: 1;
  transition: border 0.3s, box-shadow 0.3s, scale ease-in 0.3s;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.music_card:hover {
  border: 2px solid #48467b;
  box-shadow: 0 0 15px #48467b;
  scale: 1.05;
  transition: border 0.3s, box-shadow 0.3s, scale ease-in 0.3s;
}
.music_card:hover .music_card-likedLabel {
  opacity: 1;
  transition: opacity linear 0.3s;
}

.music_card-top {
  display: flex;
  justify-items: center;
  gap: 20px;
  margin: 0 0 20px;
}

.music_card-descrb {
  display: flex;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  gap: 5px;
}

.music_card-icon {
  background-color: #222b75;
  border-radius: 15px;
  padding: 10px;
  color: #729ddb;
}

.music_card-title {
  color: #729ddb;
  font-weight: bold;
  font-size: 20px;
  line-height: normal;
}

.music_card-name {
  color: #a6a0bc;
  font-size: 15px;
}

.music_card-lyric {
  color: #bab4ca;
  font-size: 20px;
  font-style: italic;
  line-height: 40px;
  display: flex;
  justify-content: center;
  margin: 0 20px;
}

.music_card-quot {
  position: absolute;
  top: 70px;
  color: #343772;
  left: 8px;
}

.music_card-audio {
  position: absolute;
  width: 2px;
  height: 2px;
  top: 0;
  left: 0;
  z-index: 10;
  pointer-events: none;
}

.music_card-likedLabel {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 20;
  opacity: 0;
  transition: opacity linear 0.3s;
}

.music_card-likedIcon {
  width: 40px;
  height: 40px;
  color: #757373;
  transition: color ease-in 0.3s;
}
.music_card-likedIcon:hover {
  color: #b4b4b4;
  transition: color ease-in 0.3s;
}

.music_card-likedCheck:checked ~ .music_card-likedIcon {
  color: red;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

main {
  padding: 100px 0 0 0;
  background-image: linear-gradient(150deg, #0c0926, #380462, #0c0926);
  min-height: 100vh;
  min-width: 100vw;
}

.visually-hidden {
  opacity: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.visually-hidden-out {
  opacity: 0;
  position: absolute;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}/*# sourceMappingURL=main.css.map */