.header {
  background-image: linear-gradient(90deg, #020411, #23023c);
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
.header .container {
  padding: 0 150px;
}
@media (max-width: 1023px) {
  .header .container {
    padding: 0 100px;
  }
}
@media (max-width: 767px) {
  .header .container {
    padding: 0 20px;
  }
}

.header_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_menu-list {
  display: flex;
  gap: 30px;
  list-style: none;
  align-items: center;
}
@media (max-width: 767px) {
  .header_menu-list {
    gap: 10px;
  }
}

.header_menu-item {
  position: relative;
}

.header_menu-inner {
  color: #a692bd;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}

.header_menu-searchSong {
  display: flex;
  color: #a692bd;
  gap: 5px;
  align-items: center;
}
.header_menu-searchSong .header_menu-inputSearch {
  background-color: #ffffff;
  padding: 5px;
  border-radius: 10px;
  outline: none;
  z-index: 1000;
}
.header_menu-searchSong .header_menu-inputSearch:hover {
  background-color: #e1f0f6;
}
@media (max-width: 767px) {
  .header_menu-searchSong .header_menu-inputSearch {
    max-width: 70px;
    height: 40px;
  }
}

.header_logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__logo-icon {
  background-image: linear-gradient(60deg, #e93faf, #bc4af0);
  border-radius: 20px;
  height: 60px;
  width: 60px;
  padding: 10px;
  color: #d9c5ee;
}
@media (max-width: 767px) {
  .header__logo-icon {
    width: 40px;
    height: 40px;
    border-radius: 10px;
  }
}

.header_logo-text {
  color: #d9c5ee;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}
@media (max-width: 767px) {
  .header_logo-text {
    display: none;
  }
}

.header_menu-favoriteList {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50px;
  left: 0;
  background-color: #294053;
}
.header_menu-favoriteList .header_menu-favoriteItem {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.header_menu-favoriteList .music_card-icon {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  padding: 2px;
}

.music {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  max-width: 1000px;
  margin: 0 0 30px;
}

.music_logo-image {
  position: relative;
  padding: 0 40px;
}
.music_logo-image:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  background-image: linear-gradient(90deg, rgba(12, 9, 38, 0.3960784314), #9e60d6);
  width: 50px;
  height: 2px;
}
.music_logo-image:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  background-image: linear-gradient(90deg, #9e60d6, rgba(12, 9, 38, 0.431372549));
  width: 50px;
  height: 2px;
}

.music_logo-icon {
  color: #9e60d6;
}
@media (max-width: 767px) {
  .music_logo-icon {
    width: 40px;
    height: 40px;
  }
}

.music_logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.music_logo-text {
  font-size: 28px;
  font-weight: 500;
  color: #fff;
}
@media (max-width: 767px) {
  .music_logo-text {
    font-size: 18px;
    font-weight: 400;
  }
}

.music_descrb {
  text-align: center;
  color: #967eb1;
  font-size: 20px;
}
@media (max-width: 767px) {
  .music_descrb {
    font-size: 15px;
    font-weight: 400;
  }
}

.footer_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 30px 0 20px;
}
@media (max-width: 767px) {
  .footer_wrapper {
    padding: 20px 0 10px;
  }
}

footer {
  background-image: linear-gradient(90deg, #270546, #030517);
}

.footer_inner {
  grid-column: span 1;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  max-width: 250px;
}

.footer_section {
  margin: 0 0 20px;
}
@media (max-width: 767px) {
  .footer_section {
    margin: 0 0 10px;
  }
}

.footer_section-title {
  color: #eccfe2;
  margin: 0 0 10px;
}
@media (max-width: 767px) {
  .footer_section-title {
    margin: 0 0 5px;
    font-size: 20px;
    text-align: center;
  }
}

.footer_section-link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  color: #9677b2;
  transition: color ease-in 0.3s;
}
@media (max-width: 767px) {
  .footer_section-link {
    font-size: 15px;
  }
}
.footer_section-link:hover, .footer_section-link:focus-visible {
  color: #cecdcf;
  transition: color ease-in 0.3s;
}
.footer_section-link:hover .footer_section-link-logo, .footer_section-link:focus-visible .footer_section-link-logo {
  transform: scale(1.2);
  transition: transform ease-in 0.3s;
}
.footer_section-link:visited {
  color: #bdaecb;
}

.footer_section-link-logo {
  transform: scale(1);
  transition: transform ease-in 0.3s;
}

.music_all {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  padding: 150px 0 100px 0;
}
@media (max-width: 767px) {
  .music_all {
    padding: 80px 0 50px 0;
  }
}

.music_list,
.favorite_list {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  margin: 0;
  justify-content: center;
  padding: 0;
  list-style: none;
  gap: 30px;
  width: 100%;
}
@media (max-width: 1023px) {
  .music_list,
  .favorite_list {
    grid-template-columns: repeat(2, 300px);
  }
}
@media (max-width: 767px) {
  .music_list,
  .favorite_list {
    grid-template-columns: 310px;
  }
}

.music_item {
  display: flex;
  flex-direction: column;
}

.music_card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 350px;
  flex-grow: 1;
  background-color: rgba(36, 22, 86, 0.631372549);
  border-radius: 20px;
  padding: 25px 20px;
  border: 2px solid #252371;
  scale: 1;
  transition: border 0.3s, box-shadow 0.3s, scale ease-in 0.3s;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
@media (max-width: 767px) {
  .music_card {
    min-height: 300px;
  }
}
.music_card:hover, .music_card:focus, .music_card:focus-visible {
  border: 2px solid #48467b;
  box-shadow: 0 0 15px #48467b;
  scale: 1.05;
  transition: border 0.3s, box-shadow 0.3s, scale ease-in 0.3s;
}
.music_card:hover .music_card-likedLabel {
  opacity: 1;
  transition: opacity linear 0.3s;
}

.music_card-top {
  display: flex;
  justify-items: center;
  gap: 20px;
  margin: 0 0 20px;
}

.music_card-descrb {
  display: flex;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  gap: 5px;
}
@media (max-width: 767px) {
  .music_card-descrb {
    font-size: 18px;
    font-weight: 400;
  }
}

.music_card-icon {
  background-color: #222b75;
  border-radius: 15px;
  padding: 10px;
  color: #729ddb;
}

.music_card-title {
  color: #729ddb;
  font-weight: bold;
  font-size: 20px;
  line-height: normal;
}

.music_card-name {
  color: #a6a0bc;
  font-size: 15px;
}

.music_card-lyric {
  color: #bab4ca;
  font-size: 20px;
  font-style: italic;
  line-height: 40px;
  display: flex;
  justify-content: center;
  margin: 0 20px;
}
@media (max-width: 767px) {
  .music_card-lyric {
    font-size: 18px;
    font-weight: 400;
  }
}

.music_card-quot {
  position: absolute;
  top: 70px;
  color: #343772;
  left: 8px;
}

.music_card-audio {
  position: absolute;
  width: 0px;
  height: 0px;
  top: 0;
  left: 0;
  z-index: 10;
  pointer-events: none;
}

.music_card-likedLabel {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 20;
  opacity: 0;
  transition: opacity linear 0.3s;
}

.music_card-likedIcon {
  width: 40px;
  height: 40px;
  color: #757373;
  transition: color ease-in 0.3s;
}
.music_card-likedIcon:hover {
  color: #b4b4b4;
  transition: color ease-in 0.3s;
}
@media (max-width: 767px) {
  .music_card-likedIcon {
    width: 30px;
    height: 30px;
  }
}

.music_card-likedCheck:checked ~ .music_card-likedIcon {
  color: red;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

main {
  min-height: 100vh;
  background-image: linear-gradient(150deg, #0c0926, #380462, #0c0926);
}

.visually-hidden {
  opacity: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.visually-hidden-out {
  opacity: 0;
  position: absolute;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
@media (max-width: 1023px) {
  .container {
    padding: 0 30px;
  }
}
@media (max-width: 767px) {
  .container {
    padding: 0 10px;
  }
}/*# sourceMappingURL=main.css.map */