* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

main {
  padding: 100px 0 0 0;
  background-image: linear-gradient(150deg, #0c0926, #380462, #0c0926);
  min-height: 100vh;
}

.visually-hidden {
  opacity: 0;
}
