* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

main {
  min-height: 100vh;
  background-image: linear-gradient(150deg, #0c0926, #380462, #0c0926);
}
.visually-hidden {
  opacity: 0;
  user-select: none;
}

.visually-hidden-out {
  opacity: 0;
  position: absolute;
  user-select: none;
  pointer-events: none;
}
