.header {
    background-color: #0e0520;
    width: 100%;
    padding: 10px 150px;
}

.header_wrapper {
    display: flex;
    justify-content: space-between;
}

.header_menu-list {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
    
}

.header_menu-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: #a08eb5;
    text-decoration: none;;
}

.header_logo {
     color: #a08eb5;
}

.header_wrapper {
    display: flex;
    align-items: center;

}