.header {
    background-color: #0d051f;
    width: 100%;
    padding: 20px;
}

.header_wrapper {
    display: flex;
    justify-content: space-between;
}

.header_menu-list {
    margin: 0;
    padding: 0;
    display: flex;
}