.header {
  background-image: linear-gradient(90deg, #020411, #23023c);
  padding: 10px 150px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.header_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_menu-list {
  display: flex;
  gap: 30px;
}

.header_menu-inner {
  color: #a692bd;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}

.header_menu-searchSong {
  display: flex;
  color: #a692bd;
  gap: 5px;
  align-items: center;

  .header_menu-inputSearch {
    background-color: #ffffff;
    padding: 5px;
    border-radius: 10px;
    outline: none;

    &:hover {
      background-color: #e1f0f6;
    }
  }
}

.header_logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__logo-icon {
  background-image: linear-gradient(60deg, #e93faf, #bc4af0);
  border-radius: 20px;
  height: 60px;
  width: 60px;
  padding: 10px;
  color: #d9c5ee;
}

.header_logo-text {
  color: #d9c5ee;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}
