.music_all {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  padding: 150px 0 100px 0;

  @include vp-mobile {
    padding: 80px 0 50px 0;
  }
}

.music_list,
.favorite_list {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  margin: 0;
  justify-content: center;
  padding: 0;
  list-style: none;
  gap: 30px;
  width: 100%;

  @include vp-tablet {
    grid-template-columns: repeat(2, 300px);
  }

  @include vp-mobile {
    grid-template-columns: 310px;
  }
}

.music_item {
  display: flex;
  flex-direction: column;
}

.music_card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 350px;
  flex-grow: 1;
  background-color: #241656a1;
  border-radius: 20px;
  padding: 25px 20px;
  border: 2px solid #252371;
  scale: 1;
  transition: border 0.3s, box-shadow 0.3s, scale ease-in 0.3s;
  user-select: none;

  @include vp-mobile {
    min-height: 300px;
  }

  &:hover,
  &:focus,
  &:focus-visible {
    border: 2px solid #48467b;
    box-shadow: 0 0 15px #48467b;
    scale: 1.05;
    transition: border 0.3s, box-shadow 0.3s, scale ease-in 0.3s;
  }

  &:hover .music_card-likedLabel {
    opacity: 1;
    transition: opacity linear 0.3s;
  }
}

.music_card-top {
  display: flex;
  justify-items: center;
  gap: 20px;
  margin: 0 0 20px;
}

.music_card-descrb {
  display: flex;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  gap: 5px;

  @include vp-mobile {
    font-size: 18px;
    font-weight: 400;
  }
}

.music_card-icon {
  background-color: #222b75;
  border-radius: 15px;
  padding: 10px;
  color: #729ddb;
}

.music_card-title {
  color: #729ddb;
  font-weight: bold;
  font-size: 20px;
  line-height: normal;
}

.music_card-name {
  color: #a6a0bc;
  font-size: 15px;
}

.music_card-lyric {
  color: #bab4ca;
  font-size: 18px;
  font-style: italic;
  line-height: 40px;
  display: flex;
  justify-content: center;
  margin: 0 20px;

  @include vp-mobile {
    font-size: 16px;
    font-weight: 400;
  }
}

.music_card-quot {
  position: absolute;
  top: 70px;
  color: #343772;
  left: 8px;
}

.music_card-audio {
  position: absolute;
  width: 0px;
  height: 0px;
  top: 0;
  left: 0;
  z-index: 10;
  pointer-events: none;
}

.music_card-likedLabel {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 20;
  opacity: 0;
  transition: opacity linear 0.3s;
}

.music_card-likedIcon {
  width: 40px;
  height: 40px;
  color: #757373;
  transition: color ease-in 0.3s;

  &:hover {
    color: #b4b4b4;
    transition: color ease-in 0.3s;
  }

  @include vp-mobile {
    width: 30px;
    height: 30px;
  }
}

.music_card-likedCheck:checked ~ .music_card-likedIcon {
  color: red;
}
